body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #fff;
}

.container {
    display: flex;
    border: 1px solid blue;
    padding: 25px 0;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 15px;
    border-left: 1px solid blue;
}

.column:first-child {
    border-left: none;
}

.block {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    position: relative;
}

.column:last-of-type {
    justify-content: center;
}

.square:nth-of-type(5){
    position: absolute;
    right: 5px;
}

.square {
    width: 20px;
    height: 20px;
    background-color: blue;
    margin-right: 5px;
    z-index: -1;
}

.block p {
    justify-content: center;
    margin: 0 auto;
    font-size: 24px;
}

.middle-square {
    position: absolute;
    left: 30px;
}

.last-square {
    position: absolute;
    left: 15px;
}